html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=9d8653da-85f2-41cd-a060-5fc5f64c5528");
@font-face{
font-family:"Avenir Next LT W02SC Demi";
src:url("../../fonts/093cecaf-bae9-4928-87d7-de460ba3bfa7.eot?#iefix");
src:url("../../fonts/093cecaf-bae9-4928-87d7-de460ba3bfa7.eot?#iefix") format("eot"),url("../../fonts/373db362-010f-4a93-8677-0e79c739f520.woff2") format("woff2"),url("../../fonts/eea58f26-3cc8-41c5-8dd3-cb71287f9bef.woff") format("woff"),url("../../fonts/ba2cc6b9-5b84-43bd-a52f-12493b937908.ttf") format("truetype"),url("../../fonts/adc8a73e-7eef-4ffa-9ab8-73b0a1824b56.svg#adc8a73e-7eef-4ffa-9ab8-73b0a1824b56") format("svg");
}
@font-face{
font-family:"Avenir Next LT W02SC Bold";
src:url("../../fonts/5d935365-5dbd-425b-b201-ea84ccc5ebf9.eot?#iefix");
src:url("../../fonts/5d935365-5dbd-425b-b201-ea84ccc5ebf9.eot?#iefix") format("eot"),url("../../fonts/6c660095-c4cb-48c0-9631-aac39152dbaa.woff2") format("woff2"),url("../../fonts/45f41043-63ce-4e17-9511-c4434e651c2c.woff") format("woff"),url("../../fonts/18a556fd-1cf2-4af8-afa3-b0e0346bcfc9.ttf") format("truetype"),url("../../fonts/4ca8a95d-bd83-4c38-b9d7-c2156aa82c21.svg#4ca8a95d-bd83-4c38-b9d7-c2156aa82c21") format("svg");
}
@font-face{
font-family:"Avenir Next W01 Light";
src:url("../../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix");
src:url("../../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot"),url("../../fonts/49c5f3e1-5867-4b1d-a843-2d07fa60d85d.woff2") format("woff2"),url("../../fonts/f401df6f-54eb-406c-b46a-90b9451c598d.woff") format("woff"),url("../../fonts/276fe25e-e430-4376-b33c-705dd77b3dba.ttf") format("truetype"),url("../../fonts/869dc33b-3685-4d74-a51c-82b435579093.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg");
}



body {
  font-family: "Avenir Next W01 Light";
  color:#242424;
}


.main { max-width: 1000px; margin: 0px auto; position:relative;}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    margin:0px auto;
    display:block;
}

.pixelate #container {
-webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;  
  -moz-user-select: none;
  -ms-user-select: none;    
  user-select: none;           
}

.answers {     float: left;
    width: 100%;
    clear: both;
    margin: 20px 0px;
    text-align: center; color:black;}
.answer { box-shadow: 0 4px #A8A8A8; background-color:#CFCFCF;
    text-decoration: none;
    padding: 15px 30px;
    margin: 0px 10px 10px 0px;
    border-radius: 3px; display:inline-block; color:black;}
.answer.winner { background-color:#B8E986; color:#417505; border:none; box-shadow: 0 4px #95BD6D;}
.answer.loser { background-color:#D00202; color:white; box-shadow: 0 4px #A80202;}
.answer.start { background-color:#DA322A; box-shadow: 0 4px #99231D; color:white; padding: 20px 80px; margin: 40px 0px 20px;}
    
canvas:hover {  }

    
.slide { display:none; position:relative; z-index:1; float:left; width:100%: }

.timer { height: 10px; background-color: #666666; position: relative;  width: 100%; z-index: 1; clear:both; }
.timer-bg {  }
.timer-fg { height:10px; position:absolute; background-color:#1DE8C6; width:100%; transition: width .2s linear; }

.intro h1 { font-size: 34px; margin: 20px 27px 0px; }
.intro { text-align:center; font-size:20px; color:#4a4a4a; padding-top:0px;}
.intro p { margin:0px 60px; padding-top:30px; line-height:24px;}
.start { }
.intro strong { font-family:"Avenir Next LT W02SC Demi"; text-transform:uppercase; display:block; margin:0px 0px 0px;}

.feedbacktext {     
	position: absolute; font-family:"Avenir Next LT W02SC Bold"; text-transform:uppercase;
    text-align: center;
    top:0px; width:100%;
    display:flex;
    display: -moz-box;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex;
  	
    -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
    }
.feedbacktext .correct-holder, .feedbacktext .incorrect-holder { display:block; width:80%; margin:0px auto; border: 20px solid #B8E986; padding:30px 0px;
    color:#B8E986; 
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
    opacity:1;
}
.feedbacktext .incorrect-holder { border-color:#BF0202; color:#BF0202; }
.feedbacktext .correct {  }
.feedbacktext .correct, .feedbacktext .incorrect { width:100%; display:block; margin:0px auto;}
.feedbacktext .correct-holder .correct, .feedbacktext .correct-holder .points { text-shadow:2px 2px 6px rgba(0,0,0,.5); }
.feedbacktext .points { display:block; margin:0px auto; width:100%; text-shadow:2px 2px 6px rgba(0,0,0,.5); }
.feedbacktext .incorrect-holder .incorrect, .feedbacktext .incorrect-holder .points { text-shadow:1px 1px 3px rgba(255,255,255,1); }

#header { background-color: #4a4a4a;
    color: white;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 13px 0px;}
.progress {  }
.pause, .score { position:absolute; font-size:16px; top:15px;}
.pause { right:10px;  }
.score { left:10px; }

.score-recap { display:none; text-align:center; padding-top:40px; color:#4a4a4a; }
.score-recap .header, .score-recap .large { display:block; }
.score-recap .header { font-size:24px; margin-top:40px; }
.score-recap .large { font-size: 53px; margin: 10px 0px 0px; }

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  body { margin:0px; }

}